
.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
}

.layout-main {
  flex: 1; /* 남은 공간을 모두 차지하여 푸터를 아래로 묾 */
  padding: 1.5rem;
}

.layout-footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #adadad;
  color: #888;
}